body{
    background-color: whitesmoke;
    margin:0px;
    padding:0px;

}

.usagov_logo{
    width:3rem;
    height:3rem;
    border-radius : 50%;
    padding:0.5rem;
}
.usagov_logo:hover{
    cursor: pointer;
}

.content-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 0.3rem 2rem;
    font-size : 0.8rem;
    background-color:gainsboro ;
    border-bottom: 2px solid gray;
    margin:0px;
}

.agency_dropdown{
min-width: 40rem;
text-align: center;
font-size:1.4rem;
}

.site_heading{
    margin-left : 0.5rem;
}
.site_redirect_link{
margin-left:2rem;
}