@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
 :root {
    --c1: #ffecd2;
    --c2: #fcb69f;
    --c3: #fbc2eb;
    --c4: #a6c1ee;
    --x: 10%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        --x: 40%;
    }
    50% {
        background-position: 100% 50%;
        --x: 60%;
    }
    100% {
        background-position: 0% 50%;
        --x: 90%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /* background-color:#FFFBF5 ; */
    color: black;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    /* background: #FFABAB; */
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.site_heading {
    font-size: 1.7rem;
    font-weight: bolder;
}

.content_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F7EFE5; */
    margin: 0;
    padding: 0.5rem 3rem;
}

.usagov_logo {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    animation: spin 1s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#agency_dropdown {
    min-width: 50rem;
    box-shadow: none;
    font-size: large;
}

.site_redirect_link {
    font-size: large;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    color: black;
}

.site_redirect_link_container {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.site_redirect_link:visited {
    color: black;
}

.main_content {
    display: flex;
    flex: 1;
    /* background-color : #ffffff;
    padding : 12px;
    border-radius : 22px;
    margin : 10px; */
}

.left_pane {
    flex: 1;
    height: 60rem;
    flex: 2;
    margin: 10px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 12px;
    /* background : linear-gradient(20deg, var(--c3, #f6d365), var(--c4, #fda085) 51%, var(--c3, #f6d365)) var(--x, 0)/ 200%; */
}

.left_pane_tabs_label {
    font-size: 1.1rem;
    border-radius: 12px;
    margin: 0px 5px;
    color: black;
}

.left_pane_tabs_label:hover {
    --x: 100%;
}

.right_pane {
    flex: 4;
    height: 60rem;
    margin: 10px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 12px;
}

.site_footer {
    display: flex;
    margin: auto;
    padding: 12px 0;
    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color:#776B5D; */
    background-color: #E8C4C4;
    border-radius: 40px;
    color: black;
    flex-shrink: 0;
    bottom: -20px;
    width: 20%;
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    transition: 0.2s;
    border: 2px solid black;
}

.site_footer:hover {
    cursor: pointer;
}

.right_pane {
    display: flex;
    flex-direction: column;
}

.right_pane_section_one {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section_one_item {
    width: 10rem;
    height: 20px;
    border-radius: 12px;
    color: #ffffff;
}

img {
    height: auto;
    width: 7rem;
}

.right_pane_section_two {}

.section_two_item {}

.right_pane_section_three {}

.section_three_item {}